<div ng-controller="DataTableController">
    <div class="saveDataForm">
        <form>
            <span style="font-size: 10pt;">Export data as one or more files.</span><br/>
            <label>
                File name:
                <input ng-model="saveFilename" type="text" name="filename"/>
            </label>
            <br/>
            <button ng-click="saveData()">Save as JSON</button>
            <button ng-click="saveVisDataCSV()">Save as CSV</button>
        </form>
    </div>
    <div style="font-size: 10pt;">
        Visualization <b style="font-size: 10pt">{{selectedVis.val+1}}</b> selected out of <b style="font-size: 10pt">{{visDataService.pageData.length}}</b>
        found on page. <br/>
        <b style="font-size: 10pt">Select a visualization:</b>
        <select ng-change="changeVis()"
                ng-model="visSelectorVal">
            <option ng-repeat="num in getNumber(visDataService.pageData.length) track by $index"
                    value="{{$index}}">
                {{$index+1}}
            </option>
        </select>
    </div>
    <br/>

    <div class="dataContainer" ng-repeat="group in visDataService.visData | orderBy:'numFields':true">
        <span>
            <span ng-click="selectMarkGroup(group)" class="sectionHeader">Data Table {{$index+1}}</span>
            <button ng-click="saveGroupDataCSV(group, $index+1)">Save CSV</button>
        </span>
        <table class="table dataTable" ng-right-click="splitGroup()">
            <thead ng-click="">
            <tr class="headerRow">
                <!--<th ng-if="hasMarks(group)">Mark</th>-->
                <th ng-if="hasMarks(group)">deconID</th>
                <th ng-repeat="(dataField, dataValues) in group.data" ng-if="dataField !== 'deconID'">
                    {{dataField}}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="row in getNumber(getGroupSize(group)) track by $index" ng-click="selectRow(group, $index)"
                ng-class="{selectedRow: rowIsSelected(group, $index)}">
                <!--<td ng-if="hasMarks(group)">-->
                <!--&lt;!&ndash;<svg-inject ind="$index" group="group"></svg-inject>&ndash;&gt;-->
                <!--</td>-->
                <td ng-if="hasMarks(group)">{{group.data['deconID'][$index]}}</td>
                <td ng-repeat="(dataField, dataValues) in group.data" ng-if="dataField != 'deconID'">
                    {{dataValues[$parent.$parent.$index]}}
                </td>
            </tr>
        </table>
    </div>
</div>