<div ng-controller="DataTableController">
    <div>
        <form>
            <label>
                <span><b>Export data as one or more files.</b> Select a file name </span><br />
                <span><b>File name:</b></span>
                <input ng-model="saveFilename" type="text" name="filename" />
            </label>
            <button ng-click="saveData()">Save</button>
            <button ng-click="saveVisDataCSV()">Save all as CSV</button>
            <br />
            <label>
                Visualization {{selectedVis.val+1}} selected out of {{visDataService.pageData.length}} found on page. <br />
                Select a visualization:
                <select ng-change="changeVis()"
                        ng-model="visSelectorVal">
                    <option ng-repeat="num in getNumber(visDataService.pageData.length) track by $index"
                            value="{{$index}}">
                        {{$index+1}}
                    </option>
                </select>
            </label>
        </form>
    </div>

    <div class="dataContainer" ng-repeat="schema in visDataService.visData | orderBy:'numFields':true">
        <h3 ng-click="selectSchema(schema)" class="sectionHeader">Data Table {{$index+1}}</h3>
        <button ng-click="saveSchemaDataCSV(schema, $index+1)">Save CSV</button>
        <table class="table dataTable" ng-right-click="splitSchema()">
            <thead ng-click="">
            <tr class="headerRow">
                <th ng-if="hasMarks(schema)">Mark</th>
                <th ng-if="hasMarks(schema)">deconID</th>
                <th ng-repeat="(dataField, dataValues) in schema.data" ng-if="dataField !== 'deconID'">
                    {{dataField}}
                </th>
            </tr>
            </thead>
            <tr ng-repeat="row in getNumber(getSchemaSize(schema)) track by $index" ng-click="selectRow(schema, $index)"
                ng-class="{selectedRow: rowIsSelected(schema, $index)}">
                <td ng-if="hasMarks(schema)"><svg-inject ind="$index" schema="schema"></svg-inject></td>
                <td ng-if="hasMarks(schema)">{{schema.data['deconID'][$index]}}</td>
                <td ng-repeat="(dataField, dataValues) in schema.data" ng-if="dataField != 'deconID'">{{dataValues[$parent.$parent.$index]}}</td>
            </tr>
        </table>
    </div>
</div>