* {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 8pt;
}

#wrapper {
    width: 100%;
    float:left;
    margin-right: -180px;
    min-height: 100%;
}

#sidebar {
    background-color: #F5F5F5;
    position: relative;
    float: right;
    width: 180px;
    right: 180px;
    margin-right: -180px;
    overflow-y: auto;
    padding: 5px;
    border-left: 1px solid grey;
    min-height: 100%;
}

#loading-screen {
    width:100%;
    height:100%;
    background-color: white;
    position:absolute;
    z-index: 5000;
    display: table;
    top:0;
    left:0;
    overflow:hidden;
}

#page-content-wrapper {
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    width: 100%;
}

#page-content {
    margin-right: 180px;
    overflow-y: auto;
}


.mapCol {
    float: left;
    width: 50%;
}

div.panel div.linear {
    background-color: #beaed4;
}

div.panel div.nominal {
    background-color: #7fc97f;
}

span.sectionHeader {
    padding-top: 5px;
    font-size: 10pt;
    margin-top: 5px;
    margin-bottom: 3px;
    font-weight: bold;
}

div.saveDataForm {
    background-color: #F5F5F5;
    border: 1px solid black;
    padding: 5px;
    width: 50%;
    margin-bottom: 20px;
}

label {
    font-size: 10pt;
}

th {
    font-size: 9pt;
}

div.bottomSticky {
    z-index: 100;
    height: 35%;
    margin-right: -180px;
    right: 180px;
    width: 180px;
    position: fixed;
    overflow-y: auto;
    display: table-row;
    padding: 3px;
    bottom: 0px;
    background-color: #d9edf7;
    border-left: 1px solid grey;
}

table.changeMapping {
    margin-bottom: 3px;
}

div.dataContainer {
    padding-left: 5px;
    padding-bottom: 20px;
}

td input.form-control {
    height: 20px;
    font-size: 8pt;
}

div.panel-group {
    margin-bottom: 3px;
}

div.panel div.panel-heading {
    padding: 0 10px;
}

table.dataTable {
    margin-bottom: 5px;
    max-width: 100%;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px !important;
}

.dataTable>thead>tr>th, .dataTable>tbody>tr>th, .dataTable>tfoot>tr>th, .dataTable>thead>tr>td, .dataTable>tbody>tr>td, .dataTable>tfoot>tr>td {
    padding: 3px !important;
    vertical-align: middle;
}

tr.selectedRow {
    background-color: darkgrey;
}

table tr th span.rowHead {
    color: #000;
    display: block;
    -webkit-transform: rotate(-90deg);
    writing-mode: tb-rl;
    filter: flipv fliph;
    border:0px black solid;

}

.delete-mapping-btn {
    float: right;
    padding: 1px 2px;
    border: 0px;
    box-shadow: none;
    background-image: none;
}

.controlPanel {
    border: 1px solid black;
    background-color: #E2E4FF;
    padding: 10px;
    margin: 10px;
}

#panelButtons {
    border: 1px solid blue;
}

.selected {
    background-color: #AAA !important;
}

.form-group	{
    padding: 5px;
}

.table {
    font-size:8pt;
}

td {
    padding: 0;
    margin: 0;
}

button {
    padding: 3px;
    font-size: 8pt;
}

button.deconButton {
    line-height: 1;
    font-size: 8pt;
    padding: 3px;
    width: 70px;
    height: 16px;
}

button.deconButton span.caret {
    float:right;
}

li.deconDropDownItem {
    line-height: 0.5;
    font-size: 8pt;
    padding: 3px 0px;
    min-width: 70px;
}

ul.dropdown-menu {
    min-width: 70px;
    padding: 0px;
}

.dropdown-menu li.deconDropDownItem a {
    padding: 0px 3px;
    line-height: 1;
}

.dropdown-menu li a.mappedAttrLink {
    color: red;
}


div.mapping-group {
    overflow-y: auto;
    height: 65%;
    display: table-row;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 3px;
    background-color: #F5F5F5;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 180px;
    list-style: none;
    margin: 0;
    padding: 0;
}