* {
	font-family: 'Open Sans' sans-serif;
}

h2.img-label {
	font-size: 16pt;
	text-align: center;
	margin-top: -10px;
	margin-bottom: 30px;
	font-weight: bold;
}

.left-text {
	width: 50%;
	float: left;
}

.right-text {
	width: 50%;
	float: right;
}

.banner-left img {
	float:left;
	width: 49%;
}

.banner-right img {
	float: right;
	margin-right: 1%;
	width: 49%;
}

a {
	color: #d2691e;
}

div.page-header {
	margin-top: 20px;
}

ul.nav li {
	font-size: 12pt;
}

.tut-img {
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

h1.main-title {
	font-size: 45px;
	margin-left: -10px;
	margin-bottom: 15 px;
}

h3 {
	font-weight: 400;
	margin-top: 25px;
	margin-bottom: 15px;
}

table.dataTable {
	font-size: 9pt;
	width: 50%;
	float: right;
}

.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px !important;
}